<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLSchemes</key>
            <array>
               
                <string>com.googleusercontent.apps.305807399239-ohvo6ndkab03h3h1m63d9pgqcufgl1nt</string>
            </array>
        </dict>
    </array>
    
    
    <key>GIDClientID</key>
   
    <string>305807399239-ohvo6ndkab03h3h1m63d9pgqcufgl1nt.apps.googleusercontent.com</string>
    
    
    <key>LSApplicationQueriesSchemes</key>
    <array>
        <string>googlegmail</string>
    </array>
</dict>
</plist>
